body{
    display: grid;
    grid-template-columns: 270px 1fr;
    min-height: 100vh;
    margin: 0;
}
#sidebar{
    background-color:  #F3F7EB;
}
#main-container{
    background-color: #FFFFFF;
}
h1{
    color: #6AA84F;
}
.side{
    padding-left: 15px; 
}
.main-section{
    margin-left: 20px;
    text-align: center;
}
.question, .phone, .game {
    text-decoration: none;
    border: 1px solid #A9D143;
    padding: 12px 35px;
    margin: 2px 10px ;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #A9D143;
}
.question-button,.phone-button,.game-button {
    margin-bottom: 40px;
}
.phone-name{
    margin-left: 3px;
}
#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    display: none; 
    justify-content: center;
    align-items: center; 
}
#modal-content {
    background-color: white;
    padding: 10px 250px;
    border-radius: 8px;
    width: 80%; 
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.de1,.de2,.de3{
    font-weight: bold;
    font-size: x-large;
}
#closeBtn{
    background-color: #A9D143;
    font-weight: bold;
    color: white;
    border: 1px solid #A9D143;
    padding: 7px 15px;
    border-radius: 4px;
}
.modal-opener{
    background-color: #A9D143;
    border: 1px solid #A9D143;
    padding: 70px 20px;
    margin-right: 30px;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: x-large;
}
.phone-a{
    text-align: center;
}
.phone-name{
    color: #6AA84F;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}
.phone-content{
    margin-top: 5px;
    font-weight: bold;
    color: #A9D143;
    font-size: x-large;
}
.phone-pile{
    text-align: center;
    border: 3px solid #6AA84F;
    padding: 50px 50px;
    margin-right: 70px;
    margin-left: 70px;
    border-radius: 6px;
    
}
